# Project
*.vsconfig
*.sln
*.csproj

# 3D Objects
*.fbx

# Unity
*.mat
*.physicmaterial
*.lighting
*.prefab
*.cubemap
*.controller
*.anim
*.vfx
*.md
*.asset
*.meta
*.unity
*.unitypackage
*.log
*.cache
*.shader
*.cginc
*.json

*.svg
*.psd
*.tif
*.pdf
*.png
*.jpg
*.txt

.vs/
Library/
LocalPackages/
Logs/
obj/
Packages/
ProjectSettings/
UserSettings/



/2021_07_04_NewStart/Assets/Barril*pack/
/2021_07_04_NewStart/Assets/Conifers*\[BOTD\]/
/2021_07_04_NewStart/Assets/iPoly3D/
/2021_07_04_NewStart/Assets/ProBuilder*Data/
/2021_07_04_NewStart/Assets/Robot*Kyle/
/2021_07_04_NewStart/Assets/SimpleParticlePack/
/2021_07_04_NewStart/Assets/Standard*Assets/
/2021_07_04_NewStart/Assets/StarterAssets/

/2021_07_07_Space/Assets/4K_Space_Skyboxes/
/2021_07_07_Space/Assets/HDRPDefaultResources/

/2021_07_09_Skillbox_Day1/Assets/FantasyHouse/
/2021_07_09_Skillbox_Day1/Assets/Kevin*Iglesias/
/2021_07_09_Skillbox_Day1/Assets/LB3D/
/2021_07_09_Skillbox_Day1/Assets/Low*Poly*Graveyard/
/2021_07_09_Skillbox_Day1/Assets/Lowpoly*Wells/
/2021_07_09_Skillbox_Day1/Assets/MedievalPack/
/2021_07_09_Skillbox_Day1/Assets/Plugins/
/2021_07_09_Skillbox_Day1/Assets/PurePoly/
/2021_07_09_Skillbox_Day1/Assets/Skybox*add-on/
/2021_07_09_Skillbox_Day1/Assets/Troll/

Build01/